.navbar-container{
    margin-top: 8px;
    width: 97%;
}
.logo img {
    height: 35px;
    margin-left: 20px;
}
.title img{
    height: 19px;
    margin-left: 10px;
    margin-top: 9px;
}
.notification img{
    height: 25px;
}
.ask-help img{
    height: 25px;
}